.orderscreen
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */

}

.orderscreen .logo
{
    object-fit: contain;
    width: 125px;
    padding-top: 10px;
    padding-bottom: 19px;
}

.orderscreen .heading
{
    padding-bottom: 10px;
}

.orderscreen .orderscreen_details
{

    /* width: 300px; */
    /* height: 250px; */
    height: fit-content; /*Automatically adjusts height according to cotents in it. If px specified, then may overflow out of the border*/

    height: fit-content;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    padding: 20px;

    /* border: 1px solid ; */





    /* My try */
    /* border: 1px solid;
    width: 256px;
    height: 280px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    padding-right: 46px; */

}



.orderscreen_details > h1
{
    font-weight: 500;
    margin-bottom: 10px;
}

.orderscreen_details > h2
{
    font-weight: 450;
    /* font-size: 15px; */
    margin-bottom: 5px;
}

.orderscreen_details > input
{
    width: 95%;
    margin-bottom: 12px;
    height: 25px;
}

.orderscreen_details .create_acc
{
    height: 25px;
    width: 98%;
    
    /* width: fit-content; */
}

.orderscreen_details >h3
{
    /* padding-top: 5px; */
    display: flex;
    flex-direction:column ;
    align-items: center;
    /* padding-left: 15px; */
}

.orderscreen_details .login
{
    height: 25px;
    width: 98%;
    /*2. background : #f0c14b; */background :rgb(106, 195, 247);
    border: 1px solid;
    margin-top: 8px;
    /*1. border-color: #a88734 #9c7e31 #846a29; */
    color: black;
    text-decoration: none;

}

.placeOrder_img_class
{
    object-fit: contain;
    width: 75px;
    height: 85px;
}

.item_info_orderscreen{
    display: block;
    float: right;
    font-size: 21px;
    margin-left: 32px;
    /* margin-top: 5px; */
    word-wrap: break-word;
    clear: both;
    width: 600px;
}