.productDetails
{
    display: flex;
    flex-direction: column; /*If removed, title, price, img, button side-by-side is displayed*/
    align-items: center; 
    /*All items aligned to center.Thus button size also reduced.*/
    justify-content: flex-end; 
    /*explore this*/
    background-color: #E5E7EB;
    /* background-color: white; */
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 350px;
    min-width: 100px; 
    /*Due to this, productDetails is shifted to left frm center.Container is taking whole segment i.e. like yt search channel.Uncomment border to see*/
    /* border: 5px solid; */
    z-index: 1; 
}
.productDetails_info
{
    width: 100%; /*To align text of productDetails like title,price ,rating to left*/
    height: 100px;
    margin-bottom: 15px;
}
.productDetails > img
{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    width: 20px;
}

.productDetails > button
{
    /*2. background : #f0c14b; */background :rgb(106, 195, 247);
    border: 1px solid;
    margin-top: 10px;
    /*1. border-color: #a88734 #ada694 #846a29; */
    color: #111;
}

.productDetails_price
{
    margin-top: 5px;
}
 
.productDetails_rating
{
    display: flex;
}
.reviewClass
{
    padding-left: 150px;
}

.product_details_body{
	margin: 0;
	text-align: left;
	font-size: 16px;
	font-family: Veranda, sans-serif;
}

.yp{
	display: block;
	float: left;
	margin: 10px;
}

.product_details{
	display: block;
	margin: 10px;
}

.product_details_rating{
	margin: 40px;
	font-size: 20px;
}

.product_details_desc{
	margin: 40px;
	clear: right;
	font-size: 20px;
    width: 820px;
}

.product_details_price_text{
    /* margin: 50px; */
    font-weight: bold;
	clear: right;
	font-size: 20px;
}

.product_details_price{
    /* margin: 50px; */
    font-weight: bold;
	clear: right;
	font-size: 32px;
    color: brown;
}

.product_details_buy_button{
    /* margin-top: 10px; */
    margin-left: 30px;
    font-weight: bold;
	clear: right;
	font-size: 32px;
    color: rgb(1, 17, 53);
    display: inline-block;
    padding: 12px 22px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* color: #fff; */
    background-color: var(--dark-blue);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.product_details_buy_button:hover {background-color: #1e90ff}

.product_details_buy_button:active {
    background-color: #1e90ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.product_details_name{
    margin: 40px;
    margin-left: 75px;
    font-weight: bold;
	clear: right;
	font-size: 40px;
}

.product_details_img{
	max-width: 360px;
	height: 480px;
	margin: 50px;
	float: left;
	clear: left;
}


.clearer{
	clear: both;
}

.no_reviews{
	float: left;
	margin: 10px;
}.no_reviews{
	float: left;
	margin: 10px;
}

.product_details_login_review:link, .product_details_login_review:visited{
    margin-top: 0px;
    font-weight: bold;
	clear: right;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* color: #fff; */
    background-color: #374151;
    border: none;
    border-radius: 6px;
}
  
.product_details_login_review:hover, .product_details_login_review:active{
    background-color: rgb(1, 17, 53);
}

.product_details_review_submit{
    margin-top: 20px;
    font-weight: bold;
	clear: right;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* color: #fff; */
    background-color: #374151;
    border: none;
    border-radius: 6px;
}

.product_details_review_submit:hover {background-color: rgb(1, 17, 53)}









/* -----------my code */
/* 


.product
{
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;     


}

.product_img
{
    object-fit: contain;
    max-width: 151px;
    max-height: 250px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.product_rating
{
    display: flex;
    flex-direction: row;
} */