.productDetails
{
    display: flex;
    flex-direction: column; /*If removed, title, price, img, button side-by-side is displayed*/
    align-items: center; 
    /*All items aligned to center.Thus button size also reduced.*/
    justify-content: flex-end; 
    /*explore this*/
    background-color: #E5E7EB;
    /* background-color: white; */
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 350px;
    min-width: 100px; 
    /*Due to this, productDetails is shifted to left frm center.Container is taking whole segment i.e. like yt search channel.Uncomment border to see*/
    /* border: 5px solid; */
    z-index: 1; 
}
.productDetails_info
{
    width: 100%; /*To align text of productDetails like title,price ,rating to left*/
    height: 100px;
    margin-bottom: 15px;
}
.productDetails > img
{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    width: 20px;
}

.productDetails > button
{
    /*2. background : #f0c14b; */background :rgb(106, 195, 247);
    border: 1px solid;
    margin-top: 10px;
    /*1. border-color: #a88734 #ada694 #846a29; */
    color: #111;
}

.productDetails_price
{
    margin-top: 5px;
}
 
.productDetails_rating
{
    display: flex;
}
.reviewClass
{
    padding-left: 150px;
}











/* -----------my code */
/* 


.product
{
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;     


}

.product_img
{
    object-fit: contain;
    max-width: 151px;
    max-height: 250px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.product_rating
{
    display: flex;
    flex-direction: row;
} */